<div class="page-header">
  <h1>Editar: <%= @archivo.nombre %> <small>Pagina <%= params[:page] %></small></h1>
</div>


<%= render 'form_edit' %>


<div class="form-actions">
  <%= link_to 'ver', @documento, :class => "btn btn-primary" %>
  <%= link_to 'Regresar', documentos_path, :class => "btn btn-primary" %>
</div>

