<div class="page-header">
  <h1>Ultimos Archivos <small>Subidos</small></h1>
</div>


<table class="table table-striped table-bordered">
  <tr>
    <th>#Id</th>
    <th>Nombre</th>
    <th>Creado</th>
    <th>Actualizado</th>
    <th>Tipo</th>
    <th>Acciones</th>
  </tr>

<% @archivos.each do |archivo| %>
  <tr>
    <td><%= archivo.id %></td>
    <td><%= archivo.nombre %></td>
    <td><%= archivo.created_at.strftime("%d %b. %Y") %></td>
    <td><%= archivo.updated_at.strftime("%d %b. %Y") %></td>
    <td><%= archivo.tipodocumento['nombre'] %></td>
    <td>
      <%= link_to 'Add', "/documentos?aid=#{archivo.id}", :class => "btn" %>
      <%= link_to 'Ver', archivo, :class => "btn" %>
      <%= link_to 'Editar', edit_archivo_path(archivo), :class => "btn" %>
      <%= link_to 'Borrar', archivo, method: :delete, data: { confirm: 'Estas Seguro que deseas Borrar ?' }, :class => "btn" %>
    </td>
  </tr>
<% end %>
</table>

<div class="form-action">
  <%= link_to 'Nuevo Archivo', new_archivo_path, :class => "btn btn-primary" %>
</div>